# Ignore object and archive files
*.[oa]
.DS_Store

# Ignore executables
demo-mpu6050
demo-motion_tracker
demo-vl6180
demo-raspberry_pi
demo-battery
proxi-hydro
slave
# Old executables
main
integrator
test_motion_tracker

# Outputs
*.csv

# Text editors
*.swp

